.clients {
  padding: 94px 0;
}

.client__logo {
  fill: $colorSocial;
}

.clients__list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

&:hover,
&:focus {
  fill: $colorAccent;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.client__link {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid $colorSocial;
  border-radius: 4px;
}

.client__link:hover,
.client__link:focus {
  border: 1px solid $colorAccent;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
