.clients {
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: -30px;
  margin-bottom: -30px;
  list-style: none;
}

.clients__item {
  margin-left: 30px;
  margin-bottom: 30px;

  @media screen and (min-width: 480px) {
    --grid-item: 2;
  }

  @media screen and (min-width: 768px) {
    --grid-item: 3;
  }

  @media screen and (min-width: 1200px) {
    --grid-item: 6;
  }
}

.client__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  height: 92px;
  border: 1px solid $colorSocial;
  box-sizing: border-box;
  border-radius: 4px;

  &:not(:last-child) {
    margin-right: 30px;
  }

  @media screen and (min-width: 768px) {
    width: 226px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }

  &:hover,
  &:focus {
    border: 1px solid $colorAccent;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.client__logo {
  fill: $colorSocial;

  &:hover,
  &:focus {
    fill: $colorAccent;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
