.features {
  padding-top: 94px;
}

.feature__list {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.feature__item {
  --grid-item: 1;
  width: 450px;
  height: 120px;

  @media screen and (min-width: 768px) {
    --grid-item: 2;
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    --grid-item: 4;
    width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.feature__icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  background-color: $colorTeam;
  border-radius: 4px;
  width: 270px;
}

.feature__main-text {
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $colorTitle;
}

.feature__text {
  margin-top: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $colorMainText;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $colorMainText;
}
