.team {
  padding: 94px 0;
  background-color: $colorTeam;
}

.team__body {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  list-style: none;
}

.team__card {
  text-align: center;
  background: $colorContent;
  width: 270px;
  height: 428px;
  box-sizing: border-box;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__card:not(:last-child) {
  margin-right: 30px;
}

.team__names {
  padding: 30px 0;
}

.names {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: $colorTitle;
}

.team__profession {
  margin-top: 10px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: $colorMainText;
}

.team__icon svg {
  fill: var(--social-color);
}

.team__icon:hover svg,
.team__icon:focus svg {
  fill: var(--content-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
