.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.header__container {
  border-bottom: 1px solid #eeeeee;
  color: var(--title-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}
