@import "./utils/variables";

.studio {
  color: #000000;
}

.web {
  color: var(--accent-color);
}

address {
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--main-text-color);
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.social-icons {
  display: inline-flex;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.grid-item {
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
}

button {
  cursor: pointer;
  font-family: inherit;
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.list {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.section-title {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.features {
  padding-top: 94px;
}

.feature__list {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.feature__item {
  width: 270px;
}

.feature__item:not(:last-child) {
  margin-right: 30px;
}

.feature__icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  background-color: var(--team-color);
  border-radius: 4px;
  width: 270px;
}

.feature__main-text {
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.feature__text {
  margin-top: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.work {
  padding: 94px 0;
}

.work__box-product {
  position: relative;
  height: 294px;
  padding: 0;
}

.work__box-product:not(:last-child) {
  margin-right: 30px;
}

.work__boxes {
  display: flex;
  margin-top: 50px;
  list-style: none;
  padding-left: 0;
}

.work__content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  top: 224px;
  right: 0;
  width: 100%;
  height: 70px;
  color: var(--content-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.hero__section {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;
  box-sizing: border-box;
  background: #c4c4c4;
}

.hero__sleng {
  margin-top: auto;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  height: 120px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--content-color);
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/team-overlay.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__btn {
  padding: 10px 32px;
  min-width: 136px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  border-radius: 4px;
  border: 0;
  color: #ffffff;
}

.gallery__btn-filtr {
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.gallery__btn-filtr:hover,
.gallery__btn-filtr:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__btn {
  margin-bottom: 50px;
}

.gallery__btn li:not(:last-child) .gallery__btn-filtr {
  margin-right: 8px;
}

button:hover,
button:focus {
  background: var(--accent-color);
  color: var(--content-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery {
  padding: 94px 0;
}

.gallery__text {
  padding: 20px 24px;
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  list-style: none;
}

.gallery__card {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  width: 370px;
  height: 404px;
  box-sizing: border-box;
  border: 1px solid #eeeeee;
  background: var(--content-color);
}

.gallery__card:hover {
  opacity: 1;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery__thumb {
  position: relative;
  overflow: hidden;
}

.gallery__overlay {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  transition-property: transform, background-color;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__text-overlay {
  font-size: 18px;
  max-width: 340px;
  padding-left: 24px;
  line-height: 1.56;
  color: var(--content-color);
}

.gallery__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  background-color: rgba(33, 150, 243, 0.9);
}

.gallery__card:hover .gallery__overlay {
  transform: translateY(0%);
}

.gallery__name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.gallery__main-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.team {
  padding: 94px 0;
  background-color: var(--team-color);
}

.team__body {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  list-style: none;
}

.team__card {
  text-align: center;
  background: white;
  width: 270px;
  height: 428px;
  box-sizing: border-box;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__card:not(:last-child) {
  margin-right: 30px;
}

.team__names {
  padding: 30px 0;
}

.names {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.team__profession {
  margin-top: 10px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.social-icon-item {
  display: block;
}

.social-icon-item svg {
  width: 20px;
  height: 20px;
}

.social-icon-item:not(:last-child) {
  margin-right: 10px;
}

.social-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.team__icon svg {
  fill: var(--social-color);
}

.team__icon:hover svg,
.team__icon:focus svg {
  fill: var(--content-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link:hover,
.social-icon-link:focus {
  background-color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients {
  padding: 94px 0;
}

.client__logo {
  fill: var(--social-color);
}

.clients__list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.client__logo:hover,
.client__logo:focus {
  fill: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.client__link {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.client__link:hover,
.client__link:focus {
  border: 1px solid var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header__container {
  border-bottom: 1px solid #eeeeee;
  color: var(--title-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__adress {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.header__logo {
  margin-right: 93px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header__menu-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: var(--accent-color);
}

.current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  left: 0;
  bottom: -1px;
  background-color: var(--accent-color);
}

.header__link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.header__menu-item:not(:last-child) {
  margin-right: 50px;
}

.header__link:hover,
.header__link:focus {
  color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:not(:last-child) {
  margin-right: 30px;
}

.header__icon {
  fill: var(--main-text-color);
  margin-right: 10px;
}

.header__menu-link:hover,
.header__menu-link:focus {
  color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover .header__icon,
.header__link:focus .header__icon {
  fill: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  padding: 60px 0;
  box-sizing: border-box;
  background: var(--dark-bg-color);
}

.footer__studio {
  color: var(--content-color);
}
.footer__block {
  flex-basis: calc((50% - 45px) / 2);
}
.footer__block:last-child {
  flex-basis: calc(50% - 15px);
}

.footer__list li {
  margin-top: 9px;
  list-style: none;
}

.footer__contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.contact-links .footer__list {
  margin-top: 20px;
  list-style: none;
}

.footer__adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer__logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer__sleng {
  padding: 12px, 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--content-color);
}

.footer__contact-form {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  color: var(--content-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer__form {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.footer__button {
  display: flex;
  align-items: center;
  text-align: center;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 12px;
  height: 50px;
  width: 200px;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--content-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer__icon-send {
  margin-left: 10px;
  fill: var(--content-color);
}

.footer__icon svg {
  fill: var(--content-color);
}

.footer__icon {
  background: rgba(255, 255, 255, 0.1);
}
.footer__icon:hover,
.footer__icon:focus {
  background: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--content-color);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--content-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
}

.modal__btn:hover svg,
.modal__btn:focus svg {
  fill: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn:hover,
.modal__btn:focus {
  background: var(--content-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.modal__icon-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.modal__lable {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: var(--main-text-color);
  margin-top: 10px;
}

.modal__form-block {
  position: relative;
  height: 40px;
  margin-bottom: 10px;
}

.modal__input {
  position: absolute;
  padding: 10px 10px 10px 40px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-block:hover svg,
.modal__form-block:focus svg {
  fill: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-blok {
  position: relative;
  width: 100%;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
  font-family: inherit;
  width: 100%;
  border-width: 2px;
  border-radius: 4px;
  padding: 12px 16px;
  border-color: rgba(33, 33, 33, 0.2);
  resize: none;
  margin-top: 4px;
  margin-bottom: 20px;
}

.modal__commint {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  transition-property: border-color;
}

.modal__commint:focus {
  border: 1px solid var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus {
  border: 1px solid var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contract {
  position: relative;
  margin-bottom: 30px;
}

.contract-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  color: var(--main-text-color);
  padding-left: 24px;
}

.contract-checkbox {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-color: var(--content-color);
  border: 2px solid var(--title-color);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contract-checkbox:focus {
  outline: 1px solid var(--title-color);
}

.contract__link {
  color: var(--accent-color);
}

input[type="checkbox"] {
  /*скрываем*/
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.contract input[type="checkbox"]:checked + .contract-checkbox {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-image: url("../images/svg/icon\ check.svg");
  background-size: contain;
  background-origin: border-box;
  background-color: var(--accent-color);
  border: 2px solid transparent;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-close {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.86;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  padding: 10px 32px 10px 32px;
  color: var(--content-color);
  background: var(--accent-color);
  box-sizing: border-box;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
