$colorMainText: #757575;
$colorAccent: #2196f3;
$colorTitle: #212121;
$colorDarkBg: #2f303a;
$colorContent: #ffffff;
$colorTeam: #f5f4fa;
$colorSocial: #afb1b8;
$colorLogo: #000000;

:root {
  --grid-item: 1;
}
