:root {
  $colorMainText: #757575;
  --accent-color: #2196f3;
  --title-color: #212121;
  --dark-bg-color: #2f303a;
  --content-color: #ffffff;
  --team-color: #f5f4fa;
  --social-color: #afb1b8;
  --grid-item: 1;
}
