button {
  cursor: pointer;
  font-family: inherit;

  &:hover,
  &:focus {
    background: var(--accent-color);
    color: var(--content-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
