.mobile-menu-icon {
  width: 40px;
  height: 40px;
}

.mobile-menu {
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
}
.mobile-menu-btn {
  position: absolute;
  z-index: 2;
  top: -5px;
  right: 15px;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  padding: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: $colorAccent;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .close-black {
    display: none;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mobile-menu-btn.is-open {
  .close-black {
    display: block;
  }
  .mob-menu {
    display: none;
  }
}
