.menu {
  display: inline-flex;
}
@media screen and (max-width: 767.98px) {
  .menu--desktop {
    display: none;
  }
}

.mobile-menu-icon {
  width: 40px;
  height: 40px;
}
.mobile-menu-btn {
  position: relative;
  z-index: 101;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 48px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  z-index: 100;
  width: 100%;
  max-width: 350px;
  height: 100vh;

  background: lightblue;
}

.mobile-menu .menu {
  flex-direction: column;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}
