.modal__form {
  margin-top: 12px;
}

.modal__form-block {
  position: relative;
  height: 40px;
  margin-bottom: 10px;

  &:hover svg,
  &:focus svg {
    fill: $colorAccent;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal__form-blok {
  position: relative;
  width: 100%;
}

textarea {
  font-family: inherit;
  width: 100%;
  border-width: 2px;
  border-radius: 4px;
  padding: 12px 16px;
  border-color: rgba(33, 33, 33, 0.2);
  resize: none;
  margin-top: 4px;
  margin-bottom: 20px;
}
