.section-title {
  white-space: nowrap;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: $colorTitle;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
